<footer class="border-top footer bg-secondary text-muted">
    <div class="text-center text-white mt-1">
        Made with <i class="bi bi-arrow-through-heart-fill"></i> by DevCcr
    </div>
</footer>