html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Added Manually*/

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 35px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.colorBlack {
    color: black;
}

    .colorBlack h2 {
        color: white;
    }

@media print {

    body * {
        visibility: hidden
    }

    .print-section, .print-section * {
        visibility: visible
    }

    .card-footer {
        display: none
    }

    .print-section {
        position: absolute;
        left: 0;
        top: 0;
    }

    a {
        display: none !important;
    }
}
